@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@200;300;400;500;600;700&display=swap');
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
main {
	display: block
}
h1 {
	font-size: 2em;
	margin: 0.67em 0
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}
pre {
	font-family: monospace, monospace;
	font-size: 1em
}
a {
	background-color: transparent
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}
b,
strong {
	font-weight: bolder
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}
small {
	font-size: 80%
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sub {
	bottom: -0.25em
}
sup {
	top: -0.5em
}
img {
	border-style: none
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}
button,
input {
	overflow: visible
}
button,
select {
	text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button;
	appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText
}
fieldset {
	padding: 0.35em 0.75em 0.625em
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}
progress {
	vertical-align: baseline
}
textarea {
	overflow: auto
}
[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}
[type=search] {
	-webkit-appearance: textfield;
	appearance: textfield;
	outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}
details {
	display: block
}
summary {
	display: list-item
}
template {
	display: none
}
[hidden] {
	display: none
}
html {
	font-family: sans-serif
}
.hidden,
[hidden] {
	display: none !important
}
.vh-100 {
	height: 100vh
}
.pure-img {
	max-width: 100%;
	height: auto;
	display: block
}
.pure-g,
.pure-g-center,
.pure-g-around,
.pure-g-between,
.pure-g-stretch,
.pure-g-v-center,
.pure-g-v-around,
.pure-g-v-between,
.pure-g-v-stretch {
	display: flex;
	flex-flow: row wrap
}
.pure-g-center {
	justify-content: center;
}
.pure-g-spaced {
	justify-content: space-between;
}
.pure-g-around {
	justify-content: space-around;
}
.pure-g-stretch {
	justify-content: stretch;
}
.pure-g-v-center {
	align-items: center;
}
.pure-g-v-stretch {
	align-items: stretch;
}
.pure-g-v-spaced {
	align-items: space-between;
}
.pure-g-v-around {
	align-items: space-around;
}
.pure-u {
	display: inline-block;
	vertical-align: top
}
.pure-u-1,
.pure-u-1-1,
.pure-u-1-12,
.pure-u-1-2,
.pure-u-1-24,
.pure-u-1-3,
.pure-u-1-4,
.pure-u-1-5,
.pure-u-1-6,
.pure-u-1-8,
.pure-u-10-24,
.pure-u-11-12,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-2-24,
.pure-u-2-3,
.pure-u-2-5,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24,
.pure-u-3-24,
.pure-u-3-4,
.pure-u-3-5,
.pure-u-3-8,
.pure-u-4-24,
.pure-u-4-5,
.pure-u-5-12,
.pure-u-5-24,
.pure-u-5-5,
.pure-u-5-6,
.pure-u-5-8,
.pure-u-6-24,
.pure-u-7-12,
.pure-u-7-24,
.pure-u-7-8,
.pure-u-8-24,
.pure-u-9-24 {
	display: inline-block;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto
}
.pure-u-1-24 {
	width: 4.1667%
}
.pure-u-1-12,
.pure-u-2-24 {
	width: 8.3333%
}
.pure-u-1-8,
.pure-u-3-24 {
	width: 12.5%
}
.pure-u-1-6,
.pure-u-4-24 {
	width: 16.6667%
}
.pure-u-1-5 {
	width: 20%
}
.pure-u-5-24 {
	width: 20.8333%
}
.pure-u-1-4,
.pure-u-6-24 {
	width: 25%
}
.pure-u-7-24 {
	width: 29.1667%
}
.pure-u-1-3,
.pure-u-8-24 {
	width: 33.3333%
}
.pure-u-3-8,
.pure-u-9-24 {
	width: 37.5%
}
.pure-u-2-5 {
	width: 40%
}
.pure-u-10-24,
.pure-u-5-12 {
	width: 41.6667%
}
.pure-u-11-24 {
	width: 45.8333%
}
.pure-u-1-2,
.pure-u-12-24 {
	width: 50%
}
.pure-u-13-24 {
	width: 54.1667%
}
.pure-u-14-24,
.pure-u-7-12 {
	width: 58.3333%
}
.pure-u-3-5 {
	width: 60%
}
.pure-u-15-24,
.pure-u-5-8 {
	width: 62.5%
}
.pure-u-16-24,
.pure-u-2-3 {
	width: 66.6667%
}
.pure-u-17-24 {
	width: 70.8333%
}
.pure-u-18-24,
.pure-u-3-4 {
	width: 75%
}
.pure-u-19-24 {
	width: 79.1667%
}
.pure-u-4-5 {
	width: 80%
}
.pure-u-20-24,
.pure-u-5-6 {
	width: 83.3333%
}
.pure-u-21-24,
.pure-u-7-8 {
	width: 87.5%
}
.pure-u-11-12,
.pure-u-22-24 {
	width: 91.6667%
}
.pure-u-23-24 {
	width: 95.8333%
}
.pure-u-1,
.pure-u-1-1,
.pure-u-24-24,
.pure-u-5-5 {
	width: 100%
}
.pure-button {
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box
}
.pure-button::-moz-focus-inner {
	padding: 0;
	border: 0
}
.pure-button-group {
	letter-spacing: -0.31em;
	text-rendering: optimizespeed
}
.opera-only:-o-prefocus,
.pure-button-group {
	word-spacing: -0.43em
}
.pure-button-group .pure-button {
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto
}
.pure-button {
	font-family: inherit;
	font-size: 100%;
	padding: 0.5em 1em;
	color: rgba(0, 0, 0, 0.8);
	border: none transparent;
	background-color: #e6e6e6;
	text-decoration: none;
	border-radius: 2px
}
.pure-button-hover,
.pure-button:focus,
.pure-button:hover {
	background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
}
.pure-button:focus {
	outline: 0
}
.pure-button-active,
.pure-button:active {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
	border-color: #000
}
.pure-button-disabled,
.pure-button-disabled:active,
.pure-button-disabled:focus,
.pure-button-disabled:hover,
.pure-button[disabled] {
	border: none;
	background-image: none;
	opacity: .4;
	cursor: not-allowed;
	box-shadow: none;
	pointer-events: none
}
.pure-button-hidden {
	display: none
}
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
	background-color: #0078e7;
	color: #fff
}
.pure-button-group .pure-button {
	margin: 0;
	border-radius: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.2)
}
.pure-button-group .pure-button:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.pure-button-group .pure-button:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-right: none
}
.pure-form input[type=color],
.pure-form input[type=date],
.pure-form input[type=datetime-local],
.pure-form input[type=datetime],
.pure-form input[type=email],
.pure-form input[type=month],
.pure-form input[type=number],
.pure-form input[type=password],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=text],
.pure-form input[type=time],
.pure-form input[type=url],
.pure-form input[type=week],
.pure-form select,
.pure-form textarea {
	padding: 0.5em 0.6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	vertical-align: middle;
	box-sizing: border-box
}
.pure-form input:not([type]) {
	padding: 0.5em 0.6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	box-sizing: border-box
}
.pure-form input[type=color] {
	padding: 0.2em 0.5em
}
.pure-form input[type=color]:focus,
.pure-form input[type=date]:focus,
.pure-form input[type=datetime-local]:focus,
.pure-form input[type=datetime]:focus,
.pure-form input[type=email]:focus,
.pure-form input[type=month]:focus,
.pure-form input[type=number]:focus,
.pure-form input[type=password]:focus,
.pure-form input[type=search]:focus,
.pure-form input[type=tel]:focus,
.pure-form input[type=text]:focus,
.pure-form input[type=time]:focus,
.pure-form input[type=url]:focus,
.pure-form input[type=week]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
	outline: 0;
	border-color: #129fea
}
.pure-form input:not([type]):focus {
	outline: 0;
	border-color: #129fea
}
.pure-form input[type=checkbox]:focus,
.pure-form input[type=file]:focus,
.pure-form input[type=radio]:focus {
	outline: thin solid #129FEA;
	outline: 1px auto #129FEA
}
.pure-form .pure-checkbox,
.pure-form .pure-radio {
	margin: 0.5em 0;
	display: block
}
.pure-form input[type=color][disabled],
.pure-form input[type=date][disabled],
.pure-form input[type=datetime-local][disabled],
.pure-form input[type=datetime][disabled],
.pure-form input[type=email][disabled],
.pure-form input[type=month][disabled],
.pure-form input[type=number][disabled],
.pure-form input[type=password][disabled],
.pure-form input[type=search][disabled],
.pure-form input[type=tel][disabled],
.pure-form input[type=text][disabled],
.pure-form input[type=time][disabled],
.pure-form input[type=url][disabled],
.pure-form input[type=week][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
	cursor: not-allowed;
	background-color: #eaeded;
	color: #cad2d3
}
.pure-form input:not([type])[disabled] {
	cursor: not-allowed;
	background-color: #eaeded;
	color: #cad2d3
}
.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
	background-color: #eee;
	color: #777;
	border-color: #ccc
}
.pure-form input:focus:invalid,
.pure-form select:focus:invalid,
.pure-form textarea:focus:invalid {
	color: #b94a48;
	border-color: #e9322d
}
.pure-form input[type=checkbox]:focus:invalid:focus,
.pure-form input[type=file]:focus:invalid:focus,
.pure-form input[type=radio]:focus:invalid:focus {
	outline-color: #e9322d
}
.pure-form select {
	height: 2.25em;
	border: 1px solid #ccc;
	background-color: #fff
}
.pure-form select[multiple] {
	height: auto
}
.pure-form label {
	margin: 0.5em 0 0.2em
}
.pure-form fieldset {
	margin: 0;
	padding: 0.35em 0 0.75em;
	border: 0
}
.pure-form legend {
	display: block;
	width: 100%;
	padding: 0.3em 0;
	margin-bottom: 0.3em;
	color: #333;
	border-bottom: 1px solid #e5e5e5
}
.pure-form-stacked input[type=color],
.pure-form-stacked input[type=date],
.pure-form-stacked input[type=datetime-local],
.pure-form-stacked input[type=datetime],
.pure-form-stacked input[type=email],
.pure-form-stacked input[type=file],
.pure-form-stacked input[type=month],
.pure-form-stacked input[type=number],
.pure-form-stacked input[type=password],
.pure-form-stacked input[type=search],
.pure-form-stacked input[type=tel],
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=time],
.pure-form-stacked input[type=url],
.pure-form-stacked input[type=week],
.pure-form-stacked label,
.pure-form-stacked select,
.pure-form-stacked textarea {
	display: block;
	margin: 0.25em 0
}
.pure-form-stacked input:not([type]) {
	display: block;
	margin: 0.25em 0
}
.pure-form-aligned input,
.pure-form-aligned select,
.pure-form-aligned textarea,
.pure-form-message-inline {
	display: inline-block;
	vertical-align: middle
}
.pure-form-aligned textarea {
	vertical-align: top
}
.pure-form-aligned .pure-control-group {
	margin-bottom: 0.5em
}
.pure-form-aligned .pure-control-group label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 10em;
	margin: 0 1em 0 0
}
.pure-form-aligned .pure-controls {
	margin: 1.5em 0 0 11em
}
.pure-form .pure-input-rounded,
.pure-form input.pure-input-rounded {
	border-radius: 2em;
	padding: 0.5em 1em
}
.pure-form .pure-group fieldset {
	margin-bottom: 10px
}
.pure-form .pure-group input,
.pure-form .pure-group textarea {
	display: block;
	padding: 10px;
	margin: 0 0 -1px;
	border-radius: 0;
	position: relative;
	top: -1px
}
.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
	z-index: 3
}
.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
	top: 1px;
	border-radius: 4px 4px 0 0;
	margin: 0
}
.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
	top: 1px;
	border-radius: 4px;
	margin: 0
}
.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
	top: -2px;
	border-radius: 0 0 4px 4px;
	margin: 0
}
.pure-form .pure-group button {
	margin: 0.35em 0
}
.pure-form .pure-input-1 {
	width: 100%
}
.pure-form .pure-input-3-4 {
	width: 75%
}
.pure-form .pure-input-2-3 {
	width: 66%
}
.pure-form .pure-input-1-2 {
	width: 50%
}
.pure-form .pure-input-1-3 {
	width: 33%
}
.pure-form .pure-input-1-4 {
	width: 25%
}
.pure-form-message-inline {
	display: inline-block;
	padding-left: 0.3em;
	color: #666;
	vertical-align: middle;
	font-size: 0.875em
}
.pure-form-message {
	display: block;
	color: #666;
	font-size: 0.875em
}
@media only screen and (max-width:480px) {
	.pure-form button[type=submit] {
		margin: 0.7em 0 0
	}
	.pure-form input:not([type]),
	.pure-form input[type=color],
	.pure-form input[type=date],
	.pure-form input[type=datetime-local],
	.pure-form input[type=datetime],
	.pure-form input[type=email],
	.pure-form input[type=month],
	.pure-form input[type=number],
	.pure-form input[type=password],
	.pure-form input[type=search],
	.pure-form input[type=tel],
	.pure-form input[type=text],
	.pure-form input[type=time],
	.pure-form input[type=url],
	.pure-form input[type=week],
	.pure-form label {
		margin-bottom: 0.3em;
		display: block
	}
	.pure-group input:not([type]),
	.pure-group input[type=color],
	.pure-group input[type=date],
	.pure-group input[type=datetime-local],
	.pure-group input[type=datetime],
	.pure-group input[type=email],
	.pure-group input[type=month],
	.pure-group input[type=number],
	.pure-group input[type=password],
	.pure-group input[type=search],
	.pure-group input[type=tel],
	.pure-group input[type=text],
	.pure-group input[type=time],
	.pure-group input[type=url],
	.pure-group input[type=week] {
		margin-bottom: 0
	}
	.pure-form-aligned .pure-control-group label {
		margin-bottom: 0.3em;
		text-align: left;
		display: block;
		width: 100%
	}
	.pure-form-aligned .pure-controls {
		margin: 1.5em 0 0
	}
	.pure-form-message,
	.pure-form-message-inline {
		display: block;
		font-size: 0.75em;
		padding: 0.2em 0 0.8em
	}
}
.pure-menu {
	box-sizing: border-box
}
.pure-menu-fixed {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3
}
.pure-menu-item,
.pure-menu-list {
	position: relative
}
.pure-menu-list {
	list-style: none;
	margin: 0;
	padding: 0
}
.pure-menu-item {
	padding: 0;
	margin: 0;
	height: 100%
}
.pure-menu-heading,
.pure-menu-link {
	display: block;
	text-decoration: none;
	white-space: nowrap
}
.pure-menu-horizontal {
	width: 100%;
	white-space: nowrap
}
.pure-menu-horizontal .pure-menu-list {
	display: inline-block
}
.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-separator {
	display: inline-block;
	vertical-align: middle
}
.pure-menu-item .pure-menu-item {
	display: block
}
.pure-menu-children {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: 3
}
.pure-menu-horizontal .pure-menu-children {
	left: 0;
	top: auto;
	width: inherit
}
.pure-menu-active > .pure-menu-children,
.pure-menu-allow-hover:hover > .pure-menu-children {
	display: block;
	position: absolute
}
.pure-menu-has-children>.pure-menu-link:after {
	padding-left: 0.5em;
	content: "\25B8";
	font-size: small
}
.pure-menu-horizontal .pure-menu-has-children>.pure-menu-link:after {
	content: "\25BE"
}
.pure-menu-scrollable {
	overflow-y: scroll;
	overflow-x: hidden
}
.pure-menu-scrollable .pure-menu-list {
	display: block
}
.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
	display: inline-block
}
.pure-menu-horizontal.pure-menu-scrollable {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	padding: 0.5em 0
}
.pure-menu-horizontal .pure-menu-children .pure-menu-separator,
.pure-menu-separator {
	background-color: #ccc;
	height: 1px;
	margin: 0.3em 0
}
.pure-menu-horizontal .pure-menu-separator {
	width: 1px;
	height: 1.3em;
	margin: 0 0.3em
}
.pure-menu-horizontal .pure-menu-children .pure-menu-separator {
	display: block;
	width: auto
}
.pure-menu-heading {
	text-transform: uppercase;
	color: #565d64
}
.pure-menu-link {
	color: #777
}
.pure-menu-children {
	background-color: #fff
}
.pure-menu-heading,
.pure-menu-link {
	padding: 0.5em 1em
}
.pure-menu-disabled {
	opacity: .5
}
.pure-menu-disabled .pure-menu-link:hover {
	background-color: transparent;
	cursor: default
}
.pure-menu-active > .pure-menu-link,
.pure-menu-link:focus,
.pure-menu-link:hover {
	background-color: #eee
}
.pure-menu-selected > .pure-menu-link,
.pure-menu-selected>.pure-menu-link:visited {
	color: #000
}
.pure-table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb
}
.pure-table caption {
	color: #000;
	font: italic 85% / 1 arial, sans-serif;
	padding: 1em 0;
	text-align: center
}
.pure-table td,
.pure-table th {
	border-left: 1px solid #cbcbcb;
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: 0.5em 1em
}
.pure-table thead {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom
}
.pure-table td {
	background-color: transparent
}
.pure-table-odd td {
	background-color: #f2f2f2
}
.pure-table-striped tr:nth-child(2n-1) td {
	background-color: #f2f2f2
}
.pure-table-bordered td {
	border-bottom: 1px solid #cbcbcb
}
.pure-table-bordered tbody>tr:last-child > td {
	border-bottom-width: 0
}
.pure-table-horizontal td,
.pure-table-horizontal th {
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #cbcbcb
}
.pure-table-horizontal tbody>tr:last-child > td {
	border-bottom-width: 0
}
@media screen and (min-width:35.5em) {
	.pure-u-sm-1,
	.pure-u-sm-1-1,
	.pure-u-sm-1-12,
	.pure-u-sm-1-2,
	.pure-u-sm-1-24,
	.pure-u-sm-1-3,
	.pure-u-sm-1-4,
	.pure-u-sm-1-5,
	.pure-u-sm-1-6,
	.pure-u-sm-1-8,
	.pure-u-sm-10-24,
	.pure-u-sm-11-12,
	.pure-u-sm-11-24,
	.pure-u-sm-12-24,
	.pure-u-sm-13-24,
	.pure-u-sm-14-24,
	.pure-u-sm-15-24,
	.pure-u-sm-16-24,
	.pure-u-sm-17-24,
	.pure-u-sm-18-24,
	.pure-u-sm-19-24,
	.pure-u-sm-2-24,
	.pure-u-sm-2-3,
	.pure-u-sm-2-5,
	.pure-u-sm-20-24,
	.pure-u-sm-21-24,
	.pure-u-sm-22-24,
	.pure-u-sm-23-24,
	.pure-u-sm-24-24,
	.pure-u-sm-3-24,
	.pure-u-sm-3-4,
	.pure-u-sm-3-5,
	.pure-u-sm-3-8,
	.pure-u-sm-4-24,
	.pure-u-sm-4-5,
	.pure-u-sm-5-12,
	.pure-u-sm-5-24,
	.pure-u-sm-5-5,
	.pure-u-sm-5-6,
	.pure-u-sm-5-8,
	.pure-u-sm-6-24,
	.pure-u-sm-7-12,
	.pure-u-sm-7-24,
	.pure-u-sm-7-8,
	.pure-u-sm-8-24,
	.pure-u-sm-9-24 {
		display: inline-block;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto
	}
	.pure-u-sm-1-24 {
		width: 4.1667%
	}
	.pure-u-sm-1-12,
	.pure-u-sm-2-24 {
		width: 8.3333%
	}
	.pure-u-sm-1-8,
	.pure-u-sm-3-24 {
		width: 12.5%
	}
	.pure-u-sm-1-6,
	.pure-u-sm-4-24 {
		width: 16.6667%
	}
	.pure-u-sm-1-5 {
		width: 20%
	}
	.pure-u-sm-5-24 {
		width: 20.8333%
	}
	.pure-u-sm-1-4,
	.pure-u-sm-6-24 {
		width: 25%
	}
	.pure-u-sm-7-24 {
		width: 29.1667%
	}
	.pure-u-sm-1-3,
	.pure-u-sm-8-24 {
		width: 33.3333%
	}
	.pure-u-sm-3-8,
	.pure-u-sm-9-24 {
		width: 37.5%
	}
	.pure-u-sm-2-5 {
		width: 40%
	}
	.pure-u-sm-10-24,
	.pure-u-sm-5-12 {
		width: 41.6667%
	}
	.pure-u-sm-11-24 {
		width: 45.8333%
	}
	.pure-u-sm-1-2,
	.pure-u-sm-12-24 {
		width: 50%
	}
	.pure-u-sm-13-24 {
		width: 54.1667%
	}
	.pure-u-sm-14-24,
	.pure-u-sm-7-12 {
		width: 58.3333%
	}
	.pure-u-sm-3-5 {
		width: 60%
	}
	.pure-u-sm-15-24,
	.pure-u-sm-5-8 {
		width: 62.5%
	}
	.pure-u-sm-16-24,
	.pure-u-sm-2-3 {
		width: 66.6667%
	}
	.pure-u-sm-17-24 {
		width: 70.8333%
	}
	.pure-u-sm-18-24,
	.pure-u-sm-3-4 {
		width: 75%
	}
	.pure-u-sm-19-24 {
		width: 79.1667%
	}
	.pure-u-sm-4-5 {
		width: 80%
	}
	.pure-u-sm-20-24,
	.pure-u-sm-5-6 {
		width: 83.3333%
	}
	.pure-u-sm-21-24,
	.pure-u-sm-7-8 {
		width: 87.5%
	}
	.pure-u-sm-11-12,
	.pure-u-sm-22-24 {
		width: 91.6667%
	}
	.pure-u-sm-23-24 {
		width: 95.8333%
	}
	.pure-u-sm-1,
	.pure-u-sm-1-1,
	.pure-u-sm-24-24,
	.pure-u-sm-5-5 {
		width: 100%
	}
}
@media screen and (min-width:48em) {
	.pure-u-md-1,
	.pure-u-md-1-1,
	.pure-u-md-1-12,
	.pure-u-md-1-2,
	.pure-u-md-1-24,
	.pure-u-md-1-3,
	.pure-u-md-1-4,
	.pure-u-md-1-5,
	.pure-u-md-1-6,
	.pure-u-md-1-8,
	.pure-u-md-10-24,
	.pure-u-md-11-12,
	.pure-u-md-11-24,
	.pure-u-md-12-24,
	.pure-u-md-13-24,
	.pure-u-md-14-24,
	.pure-u-md-15-24,
	.pure-u-md-16-24,
	.pure-u-md-17-24,
	.pure-u-md-18-24,
	.pure-u-md-19-24,
	.pure-u-md-2-24,
	.pure-u-md-2-3,
	.pure-u-md-2-5,
	.pure-u-md-20-24,
	.pure-u-md-21-24,
	.pure-u-md-22-24,
	.pure-u-md-23-24,
	.pure-u-md-24-24,
	.pure-u-md-3-24,
	.pure-u-md-3-4,
	.pure-u-md-3-5,
	.pure-u-md-3-8,
	.pure-u-md-4-24,
	.pure-u-md-4-5,
	.pure-u-md-5-12,
	.pure-u-md-5-24,
	.pure-u-md-5-5,
	.pure-u-md-5-6,
	.pure-u-md-5-8,
	.pure-u-md-6-24,
	.pure-u-md-7-12,
	.pure-u-md-7-24,
	.pure-u-md-7-8,
	.pure-u-md-8-24,
	.pure-u-md-9-24 {
		display: inline-block;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto
	}
	.pure-u-md-1-24 {
		width: 4.1667%
	}
	.pure-u-md-1-12,
	.pure-u-md-2-24 {
		width: 8.3333%
	}
	.pure-u-md-1-8,
	.pure-u-md-3-24 {
		width: 12.5%
	}
	.pure-u-md-1-6,
	.pure-u-md-4-24 {
		width: 16.6667%
	}
	.pure-u-md-1-5 {
		width: 20%
	}
	.pure-u-md-5-24 {
		width: 20.8333%
	}
	.pure-u-md-1-4,
	.pure-u-md-6-24 {
		width: 25%
	}
	.pure-u-md-7-24 {
		width: 29.1667%
	}
	.pure-u-md-1-3,
	.pure-u-md-8-24 {
		width: 33.3333%
	}
	.pure-u-md-3-8,
	.pure-u-md-9-24 {
		width: 37.5%
	}
	.pure-u-md-2-5 {
		width: 40%
	}
	.pure-u-md-10-24,
	.pure-u-md-5-12 {
		width: 41.6667%
	}
	.pure-u-md-11-24 {
		width: 45.8333%
	}
	.pure-u-md-1-2,
	.pure-u-md-12-24 {
		width: 50%
	}
	.pure-u-md-13-24 {
		width: 54.1667%
	}
	.pure-u-md-14-24,
	.pure-u-md-7-12 {
		width: 58.3333%
	}
	.pure-u-md-3-5 {
		width: 60%
	}
	.pure-u-md-15-24,
	.pure-u-md-5-8 {
		width: 62.5%
	}
	.pure-u-md-16-24,
	.pure-u-md-2-3 {
		width: 66.6667%
	}
	.pure-u-md-17-24 {
		width: 70.8333%
	}
	.pure-u-md-18-24,
	.pure-u-md-3-4 {
		width: 75%
	}
	.pure-u-md-19-24 {
		width: 79.1667%
	}
	.pure-u-md-4-5 {
		width: 80%
	}
	.pure-u-md-20-24,
	.pure-u-md-5-6 {
		width: 83.3333%
	}
	.pure-u-md-21-24,
	.pure-u-md-7-8 {
		width: 87.5%
	}
	.pure-u-md-11-12,
	.pure-u-md-22-24 {
		width: 91.6667%
	}
	.pure-u-md-23-24 {
		width: 95.8333%
	}
	.pure-u-md-1,
	.pure-u-md-1-1,
	.pure-u-md-24-24,
	.pure-u-md-5-5 {
		width: 100%
	}
}
@media screen and (min-width:64em) {
	.pure-u-lg-1,
	.pure-u-lg-1-1,
	.pure-u-lg-1-12,
	.pure-u-lg-1-2,
	.pure-u-lg-1-24,
	.pure-u-lg-1-3,
	.pure-u-lg-1-4,
	.pure-u-lg-1-5,
	.pure-u-lg-1-6,
	.pure-u-lg-1-8,
	.pure-u-lg-10-24,
	.pure-u-lg-11-12,
	.pure-u-lg-11-24,
	.pure-u-lg-12-24,
	.pure-u-lg-13-24,
	.pure-u-lg-14-24,
	.pure-u-lg-15-24,
	.pure-u-lg-16-24,
	.pure-u-lg-17-24,
	.pure-u-lg-18-24,
	.pure-u-lg-19-24,
	.pure-u-lg-2-24,
	.pure-u-lg-2-3,
	.pure-u-lg-2-5,
	.pure-u-lg-20-24,
	.pure-u-lg-21-24,
	.pure-u-lg-22-24,
	.pure-u-lg-23-24,
	.pure-u-lg-24-24,
	.pure-u-lg-3-24,
	.pure-u-lg-3-4,
	.pure-u-lg-3-5,
	.pure-u-lg-3-8,
	.pure-u-lg-4-24,
	.pure-u-lg-4-5,
	.pure-u-lg-5-12,
	.pure-u-lg-5-24,
	.pure-u-lg-5-5,
	.pure-u-lg-5-6,
	.pure-u-lg-5-8,
	.pure-u-lg-6-24,
	.pure-u-lg-7-12,
	.pure-u-lg-7-24,
	.pure-u-lg-7-8,
	.pure-u-lg-8-24,
	.pure-u-lg-9-24 {
		display: inline-block;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto
	}
	.pure-u-lg-1-24 {
		width: 4.1667%
	}
	.pure-u-lg-1-12,
	.pure-u-lg-2-24 {
		width: 8.3333%
	}
	.pure-u-lg-1-8,
	.pure-u-lg-3-24 {
		width: 12.5%
	}
	.pure-u-lg-1-6,
	.pure-u-lg-4-24 {
		width: 16.6667%
	}
	.pure-u-lg-1-5 {
		width: 20%
	}
	.pure-u-lg-5-24 {
		width: 20.8333%
	}
	.pure-u-lg-1-4,
	.pure-u-lg-6-24 {
		width: 25%
	}
	.pure-u-lg-7-24 {
		width: 29.1667%
	}
	.pure-u-lg-1-3,
	.pure-u-lg-8-24 {
		width: 33.3333%
	}
	.pure-u-lg-3-8,
	.pure-u-lg-9-24 {
		width: 37.5%
	}
	.pure-u-lg-2-5 {
		width: 40%
	}
	.pure-u-lg-10-24,
	.pure-u-lg-5-12 {
		width: 41.6667%
	}
	.pure-u-lg-11-24 {
		width: 45.8333%
	}
	.pure-u-lg-1-2,
	.pure-u-lg-12-24 {
		width: 50%
	}
	.pure-u-lg-13-24 {
		width: 54.1667%
	}
	.pure-u-lg-14-24,
	.pure-u-lg-7-12 {
		width: 58.3333%
	}
	.pure-u-lg-3-5 {
		width: 60%
	}
	.pure-u-lg-15-24,
	.pure-u-lg-5-8 {
		width: 62.5%
	}
	.pure-u-lg-16-24,
	.pure-u-lg-2-3 {
		width: 66.6667%
	}
	.pure-u-lg-17-24 {
		width: 70.8333%
	}
	.pure-u-lg-18-24,
	.pure-u-lg-3-4 {
		width: 75%
	}
	.pure-u-lg-19-24 {
		width: 79.1667%
	}
	.pure-u-lg-4-5 {
		width: 80%
	}
	.pure-u-lg-20-24,
	.pure-u-lg-5-6 {
		width: 83.3333%
	}
	.pure-u-lg-21-24,
	.pure-u-lg-7-8 {
		width: 87.5%
	}
	.pure-u-lg-11-12,
	.pure-u-lg-22-24 {
		width: 91.6667%
	}
	.pure-u-lg-23-24 {
		width: 95.8333%
	}
	.pure-u-lg-1,
	.pure-u-lg-1-1,
	.pure-u-lg-24-24,
	.pure-u-lg-5-5 {
		width: 100%
	}
}
@media screen and (min-width:80em) {
	.pure-u-xl-1,
	.pure-u-xl-1-1,
	.pure-u-xl-1-12,
	.pure-u-xl-1-2,
	.pure-u-xl-1-24,
	.pure-u-xl-1-3,
	.pure-u-xl-1-4,
	.pure-u-xl-1-5,
	.pure-u-xl-1-6,
	.pure-u-xl-1-8,
	.pure-u-xl-10-24,
	.pure-u-xl-11-12,
	.pure-u-xl-11-24,
	.pure-u-xl-12-24,
	.pure-u-xl-13-24,
	.pure-u-xl-14-24,
	.pure-u-xl-15-24,
	.pure-u-xl-16-24,
	.pure-u-xl-17-24,
	.pure-u-xl-18-24,
	.pure-u-xl-19-24,
	.pure-u-xl-2-24,
	.pure-u-xl-2-3,
	.pure-u-xl-2-5,
	.pure-u-xl-20-24,
	.pure-u-xl-21-24,
	.pure-u-xl-22-24,
	.pure-u-xl-23-24,
	.pure-u-xl-24-24,
	.pure-u-xl-3-24,
	.pure-u-xl-3-4,
	.pure-u-xl-3-5,
	.pure-u-xl-3-8,
	.pure-u-xl-4-24,
	.pure-u-xl-4-5,
	.pure-u-xl-5-12,
	.pure-u-xl-5-24,
	.pure-u-xl-5-5,
	.pure-u-xl-5-6,
	.pure-u-xl-5-8,
	.pure-u-xl-6-24,
	.pure-u-xl-7-12,
	.pure-u-xl-7-24,
	.pure-u-xl-7-8,
	.pure-u-xl-8-24,
	.pure-u-xl-9-24 {
		display: inline-block;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto
	}
	.pure-u-xl-1-24 {
		width: 4.1667%
	}
	.pure-u-xl-1-12,
	.pure-u-xl-2-24 {
		width: 8.3333%
	}
	.pure-u-xl-1-8,
	.pure-u-xl-3-24 {
		width: 12.5%
	}
	.pure-u-xl-1-6,
	.pure-u-xl-4-24 {
		width: 16.6667%
	}
	.pure-u-xl-1-5 {
		width: 20%
	}
	.pure-u-xl-5-24 {
		width: 20.8333%
	}
	.pure-u-xl-1-4,
	.pure-u-xl-6-24 {
		width: 25%
	}
	.pure-u-xl-7-24 {
		width: 29.1667%
	}
	.pure-u-xl-1-3,
	.pure-u-xl-8-24 {
		width: 33.3333%
	}
	.pure-u-xl-3-8,
	.pure-u-xl-9-24 {
		width: 37.5%
	}
	.pure-u-xl-2-5 {
		width: 40%
	}
	.pure-u-xl-10-24,
	.pure-u-xl-5-12 {
		width: 41.6667%
	}
	.pure-u-xl-11-24 {
		width: 45.8333%
	}
	.pure-u-xl-1-2,
	.pure-u-xl-12-24 {
		width: 50%
	}
	.pure-u-xl-13-24 {
		width: 54.1667%
	}
	.pure-u-xl-14-24,
	.pure-u-xl-7-12 {
		width: 58.3333%
	}
	.pure-u-xl-3-5 {
		width: 60%
	}
	.pure-u-xl-15-24,
	.pure-u-xl-5-8 {
		width: 62.5%
	}
	.pure-u-xl-16-24,
	.pure-u-xl-2-3 {
		width: 66.6667%
	}
	.pure-u-xl-17-24 {
		width: 70.8333%
	}
	.pure-u-xl-18-24,
	.pure-u-xl-3-4 {
		width: 75%
	}
	.pure-u-xl-19-24 {
		width: 79.1667%
	}
	.pure-u-xl-4-5 {
		width: 80%
	}
	.pure-u-xl-20-24,
	.pure-u-xl-5-6 {
		width: 83.3333%
	}
	.pure-u-xl-21-24,
	.pure-u-xl-7-8 {
		width: 87.5%
	}
	.pure-u-xl-11-12,
	.pure-u-xl-22-24 {
		width: 91.6667%
	}
	.pure-u-xl-23-24 {
		width: 95.8333%
	}
	.pure-u-xl-1,
	.pure-u-xl-1-1,
	.pure-u-xl-24-24,
	.pure-u-xl-5-5 {
		width: 100%
	}
}
@media screen and (min-width:120em) {
	.pure-u-xxl-1,
	.pure-u-xxl-1-1,
	.pure-u-xxl-1-12,
	.pure-u-xxl-1-2,
	.pure-u-xxl-1-24,
	.pure-u-xxl-1-3,
	.pure-u-xxl-1-4,
	.pure-u-xxl-1-5,
	.pure-u-xxl-1-6,
	.pure-u-xxl-1-8,
	.pure-u-xxl-10-24,
	.pure-u-xxl-11-12,
	.pure-u-xxl-11-24,
	.pure-u-xxl-12-24,
	.pure-u-xxl-13-24,
	.pure-u-xxl-14-24,
	.pure-u-xxl-15-24,
	.pure-u-xxl-16-24,
	.pure-u-xxl-17-24,
	.pure-u-xxl-18-24,
	.pure-u-xxl-19-24,
	.pure-u-xxl-2-24,
	.pure-u-xxl-2-3,
	.pure-u-xxl-2-5,
	.pure-u-xxl-20-24,
	.pure-u-xxl-21-24,
	.pure-u-xxl-22-24,
	.pure-u-xxl-23-24,
	.pure-u-xxl-24-24,
	.pure-u-xxl-3-24,
	.pure-u-xxl-3-4,
	.pure-u-xxl-3-5,
	.pure-u-xxl-3-8,
	.pure-u-xxl-4-24,
	.pure-u-xxl-4-5,
	.pure-u-xxl-5-12,
	.pure-u-xxl-5-24,
	.pure-u-xxl-5-5,
	.pure-u-xxl-5-6,
	.pure-u-xxl-5-8,
	.pure-u-xxl-6-24,
	.pure-u-xxl-7-12,
	.pure-u-xxl-7-24,
	.pure-u-xxl-7-8,
	.pure-u-xxl-8-24,
	.pure-u-xxl-9-24 {
		display: inline-block;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto
	}
	.pure-u-xxl-1-24 {
		width: 4.1667%
	}
	.pure-u-xxl-1-12,
	.pure-u-xxl-2-24 {
		width: 8.3333%
	}
	.pure-u-xxl-1-8,
	.pure-u-xxl-3-24 {
		width: 12.5%
	}
	.pure-u-xxl-1-6,
	.pure-u-xxl-4-24 {
		width: 16.6667%
	}
	.pure-u-xxl-1-5 {
		width: 20%
	}
	.pure-u-xxl-5-24 {
		width: 20.8333%
	}
	.pure-u-xxl-1-4,
	.pure-u-xxl-6-24 {
		width: 25%
	}
	.pure-u-xxl-7-24 {
		width: 29.1667%
	}
	.pure-u-xxl-1-3,
	.pure-u-xxl-8-24 {
		width: 33.3333%
	}
	.pure-u-xxl-3-8,
	.pure-u-xxl-9-24 {
		width: 37.5%
	}
	.pure-u-xxl-2-5 {
		width: 40%
	}
	.pure-u-xxl-10-24,
	.pure-u-xxl-5-12 {
		width: 41.6667%
	}
	.pure-u-xxl-11-24 {
		width: 45.8333%
	}
	.pure-u-xxl-1-2,
	.pure-u-xxl-12-24 {
		width: 50%
	}
	.pure-u-xxl-13-24 {
		width: 54.1667%
	}
	.pure-u-xxl-14-24,
	.pure-u-xxl-7-12 {
		width: 58.3333%
	}
	.pure-u-xxl-3-5 {
		width: 60%
	}
	.pure-u-xxl-15-24,
	.pure-u-xxl-5-8 {
		width: 62.5%
	}
	.pure-u-xxl-16-24,
	.pure-u-xxl-2-3 {
		width: 66.6667%
	}
	.pure-u-xxl-17-24 {
		width: 70.8333%
	}
	.pure-u-xxl-18-24,
	.pure-u-xxl-3-4 {
		width: 75%
	}
	.pure-u-xxl-19-24 {
		width: 79.1667%
	}
	.pure-u-xxl-4-5 {
		width: 80%
	}
	.pure-u-xxl-20-24,
	.pure-u-xxl-5-6 {
		width: 83.3333%
	}
	.pure-u-xxl-21-24,
	.pure-u-xxl-7-8 {
		width: 87.5%
	}
	.pure-u-xxl-11-12,
	.pure-u-xxl-22-24 {
		width: 91.6667%
	}
	.pure-u-xxl-23-24 {
		width: 95.8333%
	}
	.pure-u-xxl-1,
	.pure-u-xxl-1-1,
	.pure-u-xxl-24-24,
	.pure-u-xxl-5-5 {
		width: 100%
	}
}
@media screen and (min-width:160em) {
	.pure-u-xxxl-1,
	.pure-u-xxxl-1-1,
	.pure-u-xxxl-1-12,
	.pure-u-xxxl-1-2,
	.pure-u-xxxl-1-24,
	.pure-u-xxxl-1-3,
	.pure-u-xxxl-1-4,
	.pure-u-xxxl-1-5,
	.pure-u-xxxl-1-6,
	.pure-u-xxxl-1-8,
	.pure-u-xxxl-10-24,
	.pure-u-xxxl-11-12,
	.pure-u-xxxl-11-24,
	.pure-u-xxxl-12-24,
	.pure-u-xxxl-13-24,
	.pure-u-xxxl-14-24,
	.pure-u-xxxl-15-24,
	.pure-u-xxxl-16-24,
	.pure-u-xxxl-17-24,
	.pure-u-xxxl-18-24,
	.pure-u-xxxl-19-24,
	.pure-u-xxxl-2-24,
	.pure-u-xxxl-2-3,
	.pure-u-xxxl-2-5,
	.pure-u-xxxl-20-24,
	.pure-u-xxxl-21-24,
	.pure-u-xxxl-22-24,
	.pure-u-xxxl-23-24,
	.pure-u-xxxl-24-24,
	.pure-u-xxxl-3-24,
	.pure-u-xxxl-3-4,
	.pure-u-xxxl-3-5,
	.pure-u-xxxl-3-8,
	.pure-u-xxxl-4-24,
	.pure-u-xxxl-4-5,
	.pure-u-xxxl-5-12,
	.pure-u-xxxl-5-24,
	.pure-u-xxxl-5-5,
	.pure-u-xxxl-5-6,
	.pure-u-xxxl-5-8,
	.pure-u-xxxl-6-24,
	.pure-u-xxxl-7-12,
	.pure-u-xxxl-7-24,
	.pure-u-xxxl-7-8,
	.pure-u-xxxl-8-24,
	.pure-u-xxxl-9-24 {
		display: inline-block;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto
	}
	.pure-u-xxxl-1-24 {
		width: 4.1667%
	}
	.pure-u-xxxl-1-12,
	.pure-u-xxxl-2-24 {
		width: 8.3333%
	}
	.pure-u-xxxl-1-8,
	.pure-u-xxxl-3-24 {
		width: 12.5%
	}
	.pure-u-xxxl-1-6,
	.pure-u-xxxl-4-24 {
		width: 16.6667%
	}
	.pure-u-xxxl-1-5 {
		width: 20%
	}
	.pure-u-xxxl-5-24 {
		width: 20.8333%
	}
	.pure-u-xxxl-1-4,
	.pure-u-xxxl-6-24 {
		width: 25%
	}
	.pure-u-xxxl-7-24 {
		width: 29.1667%
	}
	.pure-u-xxxl-1-3,
	.pure-u-xxxl-8-24 {
		width: 33.3333%
	}
	.pure-u-xxxl-3-8,
	.pure-u-xxxl-9-24 {
		width: 37.5%
	}
	.pure-u-xxxl-2-5 {
		width: 40%
	}
	.pure-u-xxxl-10-24,
	.pure-u-xxxl-5-12 {
		width: 41.6667%
	}
	.pure-u-xxxl-11-24 {
		width: 45.8333%
	}
	.pure-u-xxxl-1-2,
	.pure-u-xxxl-12-24 {
		width: 50%
	}
	.pure-u-xxxl-13-24 {
		width: 54.1667%
	}
	.pure-u-xxxl-14-24,
	.pure-u-xxxl-7-12 {
		width: 58.3333%
	}
	.pure-u-xxxl-3-5 {
		width: 60%
	}
	.pure-u-xxxl-15-24,
	.pure-u-xxxl-5-8 {
		width: 62.5%
	}
	.pure-u-xxxl-16-24,
	.pure-u-xxxl-2-3 {
		width: 66.6667%
	}
	.pure-u-xxxl-17-24 {
		width: 70.8333%
	}
	.pure-u-xxxl-18-24,
	.pure-u-xxxl-3-4 {
		width: 75%
	}
	.pure-u-xxxl-19-24 {
		width: 79.1667%
	}
	.pure-u-xxxl-4-5 {
		width: 80%
	}
	.pure-u-xxxl-20-24,
	.pure-u-xxxl-5-6 {
		width: 83.3333%
	}
	.pure-u-xxxl-21-24,
	.pure-u-xxxl-7-8 {
		width: 87.5%
	}
	.pure-u-xxxl-11-12,
	.pure-u-xxxl-22-24 {
		width: 91.6667%
	}
	.pure-u-xxxl-23-24 {
		width: 95.8333%
	}
	.pure-u-xxxl-1,
	.pure-u-xxxl-1-1,
	.pure-u-xxxl-24-24,
	.pure-u-xxxl-5-5 {
		width: 100%
	}
}
@media screen and (min-width:240em) {
	.pure-u-x4k-1,
	.pure-u-x4k-1-1,
	.pure-u-x4k-1-12,
	.pure-u-x4k-1-2,
	.pure-u-x4k-1-24,
	.pure-u-x4k-1-3,
	.pure-u-x4k-1-4,
	.pure-u-x4k-1-5,
	.pure-u-x4k-1-6,
	.pure-u-x4k-1-8,
	.pure-u-x4k-10-24,
	.pure-u-x4k-11-12,
	.pure-u-x4k-11-24,
	.pure-u-x4k-12-24,
	.pure-u-x4k-13-24,
	.pure-u-x4k-14-24,
	.pure-u-x4k-15-24,
	.pure-u-x4k-16-24,
	.pure-u-x4k-17-24,
	.pure-u-x4k-18-24,
	.pure-u-x4k-19-24,
	.pure-u-x4k-2-24,
	.pure-u-x4k-2-3,
	.pure-u-x4k-2-5,
	.pure-u-x4k-20-24,
	.pure-u-x4k-21-24,
	.pure-u-x4k-22-24,
	.pure-u-x4k-23-24,
	.pure-u-x4k-24-24,
	.pure-u-x4k-3-24,
	.pure-u-x4k-3-4,
	.pure-u-x4k-3-5,
	.pure-u-x4k-3-8,
	.pure-u-x4k-4-24,
	.pure-u-x4k-4-5,
	.pure-u-x4k-5-12,
	.pure-u-x4k-5-24,
	.pure-u-x4k-5-5,
	.pure-u-x4k-5-6,
	.pure-u-x4k-5-8,
	.pure-u-x4k-6-24,
	.pure-u-x4k-7-12,
	.pure-u-x4k-7-24,
	.pure-u-x4k-7-8,
	.pure-u-x4k-8-24,
	.pure-u-x4k-9-24 {
		display: inline-block;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto
	}
	.pure-u-x4k-1-24 {
		width: 4.1667%
	}
	.pure-u-x4k-1-12,
	.pure-u-x4k-2-24 {
		width: 8.3333%
	}
	.pure-u-x4k-1-8,
	.pure-u-x4k-3-24 {
		width: 12.5%
	}
	.pure-u-x4k-1-6,
	.pure-u-x4k-4-24 {
		width: 16.6667%
	}
	.pure-u-x4k-1-5 {
		width: 20%
	}
	.pure-u-x4k-5-24 {
		width: 20.8333%
	}
	.pure-u-x4k-1-4,
	.pure-u-x4k-6-24 {
		width: 25%
	}
	.pure-u-x4k-7-24 {
		width: 29.1667%
	}
	.pure-u-x4k-1-3,
	.pure-u-x4k-8-24 {
		width: 33.3333%
	}
	.pure-u-x4k-3-8,
	.pure-u-x4k-9-24 {
		width: 37.5%
	}
	.pure-u-x4k-2-5 {
		width: 40%
	}
	.pure-u-x4k-10-24,
	.pure-u-x4k-5-12 {
		width: 41.6667%
	}
	.pure-u-x4k-11-24 {
		width: 45.8333%
	}
	.pure-u-x4k-1-2,
	.pure-u-x4k-12-24 {
		width: 50%
	}
	.pure-u-x4k-13-24 {
		width: 54.1667%
	}
	.pure-u-x4k-14-24,
	.pure-u-x4k-7-12 {
		width: 58.3333%
	}
	.pure-u-x4k-3-5 {
		width: 60%
	}
	.pure-u-x4k-15-24,
	.pure-u-x4k-5-8 {
		width: 62.5%
	}
	.pure-u-x4k-16-24,
	.pure-u-x4k-2-3 {
		width: 66.6667%
	}
	.pure-u-x4k-17-24 {
		width: 70.8333%
	}
	.pure-u-x4k-18-24,
	.pure-u-x4k-3-4 {
		width: 75%
	}
	.pure-u-x4k-19-24 {
		width: 79.1667%
	}
	.pure-u-x4k-4-5 {
		width: 80%
	}
	.pure-u-x4k-20-24,
	.pure-u-x4k-5-6 {
		width: 83.3333%
	}
	.pure-u-x4k-21-24,
	.pure-u-x4k-7-8 {
		width: 87.5%
	}
	.pure-u-x4k-11-12,
	.pure-u-x4k-22-24 {
		width: 91.6667%
	}
	.pure-u-x4k-23-24 {
		width: 95.8333%
	}
	.pure-u-x4k-1,
	.pure-u-x4k-1-1,
	.pure-u-x4k-24-24,
	.pure-u-x4k-5-5 {
		width: 100%
	}
}
.p-0 {
	padding: 0;
}
.p-1 {
	padding: 0.25rem;
}
.p-2 {
	padding: 0.5rem;
}
.p-3 {
	padding: 0.75rem;
}
.p-4 {
	padding: 1rem;
}
.p-5 {
	padding: 1.25rem;
}
.p-6 {
	padding: 1.5rem;
}
.p-7 {
	padding: 1.75rem;
}
.p-8 {
	padding: 2rem;
}
.pt-0 {
	padding-top: 0;
}
.pt-1 {
	padding-top: 0.25rem;
}
.pt-2 {
	padding-top: 0.5rem;
}
.pt-3 {
	padding-top: 0.75rem;
}
.pt-4 {
	padding-top: 1rem;
}
.pt-5 {
	padding-top: 1.25rem;
}
.pt-6 {
	padding-top: 1.5rem;
}
.pt-7 {
	padding-top: 1.75rem;
}
.pt-8 {
	padding-top: 2rem;
}
.pb-0 {
	padding-bottom: 0;
}
.pb-1 {
	padding-bottom: 0.25rem;
}
.pb-2 {
	padding-bottom: 0.5rem;
}
.pb-3 {
	padding-bottom: 0.75rem;
}
.pb-4 {
	padding-bottom: 1rem;
}
.pb-5 {
	padding-bottom: 1.25rem;
}
.pb-6 {
	padding-bottom: 1.5rem;
}
.pb-7 {
	padding-bottom: 1.75rem;
}
.pb-8 {
	padding-bottom: 2rem;
}
.pl-0 {
	padding-left: 0;
}
.pl-1 {
	padding-left: 0.25rem;
}
.pl-2 {
	padding-left: 0.5rem;
}
.pl-3 {
	padding-left: 0.75rem;
}
.pl-4 {
	padding-left: 1rem;
}
.pl-5 {
	padding-left: 1.25rem;
}
.pl-6 {
	padding-left: 1.5rem;
}
.pl-7 {
	padding-left: 1.75rem;
}
.pl-8 {
	padding-left: 2rem;
}
.pr-0 {
	padding-right: 0;
}
.pr-1 {
	padding-right: 0.25rem;
}
.pr-2 {
	padding-right: 0.5rem;
}
.pr-3 {
	padding-right: 0.75rem;
}
.pr-4 {
	padding-right: 1rem;
}
.pr-5 {
	padding-right: 1.25rem;
}
.pr-6 {
	padding-right: 1.5rem;
}
.pr-7 {
	padding-right: 1.75rem;
}
.pr-8 {
	padding-right: 2rem;
}
.px-0 {
	padding-left: 0;
	padding-right: 0;
}
.px-1 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.px-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.px-7 {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
}
.px-8 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}
.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-5 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.py-7 {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}
.py-8 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.m-0 {
	margin: 0;
}
.m-1 {
	margin: 0.25rem;
}
.m-2 {
	margin: 0.5rem;
}
.m-3 {
	margin: 0.75rem;
}
.m-4 {
	margin: 1rem;
}
.m-5 {
	margin: 1.25rem;
}
.m-6 {
	margin: 1.5rem;
}
.m-7 {
	margin: 1.75rem;
}
.m-8 {
	margin: 2rem;
}
.mt-0 {
	margin-top: 0;
}
.mt-1 {
	margin-top: 0.25rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mt-3 {
	margin-top: 0.75rem;
}
.mt-4 {
	margin-top: 1rem;
}
.mt-5 {
	margin-top: 1.25rem;
}
.mt-6 {
	margin-top: 1.5rem;
}
.mt-7 {
	margin-top: 1.75rem;
}
.mt-8 {
	margin-top: 2rem;
}
.mb-0 {
	margin-bottom: 0;
}
.mb-1 {
	margin-bottom: 0.25rem;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.mb-3 {
	margin-bottom: 0.75rem;
}
.mb-4 {
	margin-bottom: 1rem;
}
.mb-5 {
	margin-bottom: 1.25rem;
}
.mb-6 {
	margin-bottom: 1.5rem;
}
.mb-7 {
	margin-bottom: 1.75rem;
}
.mb-8 {
	margin-bottom: 2rem;
}
.ml-0 {
	margin-left: 0;
}
.ml-1 {
	margin-left: 0.25rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.ml-3 {
	margin-left: 0.75rem;
}
.ml-4 {
	margin-left: 1rem;
}
.ml-5 {
	margin-left: 1.25rem;
}
.ml-6 {
	margin-left: 1.5rem;
}
.ml-7 {
	margin-left: 1.75rem;
}
.ml-8 {
	margin-left: 2rem;
}
.mr-0 {
	margin-right: 0;
}
.mr-1 {
	margin-right: 0.25rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.mr-3 {
	margin-right: 0.75rem;
}
.mr-4 {
	margin-right: 1rem;
}
.mr-5 {
	margin-right: 1.25rem;
}
.mr-6 {
	margin-right: 1.5rem;
}
.mr-7 {
	margin-right: 1.75rem;
}
.mr-8 {
	margin-right: 2rem;
}
.mx-0 {
	margin-left: 0;
	margin-right: 0;
}
.mx-1 {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.mx-3 {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}
.mx-4 {
	margin-left: 1rem;
	margin-right: 1rem;
}
.mx-5 {
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}
.mx-6 {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
.mx-7 {
	margin-left: 1.75rem;
	margin-right: 1.75rem;
}
.mx-8 {
	margin-left: 2rem;
	margin-right: 2rem;
}
.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}
.my-1 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.my-2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.my-3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}
.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.my-5 {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}
.my-6 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.my-7 {
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}
.my-8 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-italic {
    font-style: italic;
}
.text-bold {
    font-weight: bold;
}
.text-light {
    font-weight: 300;
}
.text-decoration-none {
    text-decoration: none;
}
body {
    font-family: "Montserrat", sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Poppins", sans-serif;
}
